
  {% load static %}
  <!--Carousel Wrapper-->
  <div id="carousel-example-1z" class="carousel slide carousel-fade pt-4" data-ride="carousel">

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1z" data-slide-to="1"></li>
      <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        <div class="view" style="background-image: url({% static 'img/slide-one.jpg' %}); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>Build upon skills you already have—or learn something entirely new</strong>
              </h1>

              <p>
                <strong>You can change your entire career trajectory from your couch</strong>
              </p>

              <p class="mb-4 d-none d-md-block">
                <strong>Thanks to the range of courses, certificate programs, tutorials, and more that have been designed to teach you timely, career-relevant skills, you don't have to go far to make a big change.</strong>
              </p>

              
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/First slide-->

      <!--Second slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url({% static 'img/slide-two.jpg' %}); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>You can keep working while enrolled</strong>
              </h1>

              <p>
                <strong>A lot of students work part-time or full-time while attending college or completing other programs designed to enhance their education or skill set.</strong>
              </p>

              <p class="mb-4 d-none d-md-block">
                <strong>With online learning, courses are often designed to be more flexible so that you can work them into your work schedule. That way, you don’t have to put your professional life on hold while you pursue your education.</strong>
              </p>

              
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Second slide-->

      <!--Third slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url({% static 'img/slide-three.png' %}); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>You can decide your learning space</strong>
              </h1>

              <p>
                <strong>You don't have to worry about the hurdles of getting to class</strong>
              </p>

              <p class="mb-4 d-none d-md-block">
                <strong>All you have to do is turn on your computer. That may be a more comfortable option, especially if it means you don't have to carry books, a laptop, or other necessities around. Instead, you’ll have what you need right in front of you.</strong>
              </p>

              
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Third slide-->

    </div>
    <!--/.Slides-->

    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->

  </div>
  <!--/.Carousel Wrapper-->
